*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}