@use 'base-style';
@use 'variables' as *;


body {
    font-family: $font-family;
}

// HEADER

#header {
    width: 100%;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    .logo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        color: $clr-light-grey;
        font-weight: bold;
    }


    .hamburger {
        width: 24px;
        height: 30px;
        display: flex;
        flex-direction: column;

        span {
            background-color: $clr-dark-grey;
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 7px;
        }

        span:nth-of-type(3) {
            margin-bottom: 0;
        }
    }
}


// SECTION

.bigger-container {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;

    img {
        width: 65%;
        object-fit: cover;
    }

    .box {
        margin: 9rem 2rem 0 2rem;
        background-color: #b09673;
        color: $clr-text;
        height: 40%;
        padding: 3rem 2rem;

        .subtitle {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .title {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.2;
        }

        p {
            font-size: 1.4rem;
        }

        a {
            border-bottom: 1px solid #fff;
            padding-bottom: .3rem;
        }

        a:hover {
            border-bottom: none;
        }
    }
}


// MAIN

.light-blue-bg {
    background-color: rgb(186, 186, 218);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .8rem;
    margin-bottom: 3rem;

    .boxx {
        padding: 2.5rem 1.5rem;

        p {
            margin: 1.2rem 0;
        }

        a {
            color: $clr-dark-grey;
            border-bottom: 1px solid $clr-dark-grey;
            padding-bottom: .3rem;
        }

        a:hover {
            border-bottom: none;
        }
    }

    .box1 {
        grid-row: 1/3;

        h2 {
            font-size: 2.5rem;
        }

        .way {
            color: #b09673;
            font-size: 4rem;
        }
    }

    .box2 {
        grid-row: 1/3;
        padding: 0;

        img {
            height: 75%;
            object-fit: cover;
        }
    }
}


// SECTION

.section {
    width: 100%;
    position: relative;

    .container {

        position: relative;

        .important-text {
            width: 45%;
            font-size: 1.6rem;
            padding: 1.5rem;
            margin-left: 2rem;
            color: $clr-dark-grey;
        }
    }

    .left-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 65%;
        background-color: rgb(0, 16, 29);
        z-index: -1;
    }

    .right-box {
        position: absolute;
        bottom: -80px;
        right: 0;
        width: 50%;
        height: 85%;
        background-color: rgb(0, 16, 29);
        z-index: -1;
    }

    img {
        margin-top: 5rem;
        object-fit: cover;
    }

    .box {
        position: absolute;
        top: 40%;
        right: 4%;
        width: 47%;

        margin: 9rem 2rem 0 2rem;
        background-color: #b09673;
        color: $clr-text;
        height: 40%;
        padding: 3rem 2rem;

        h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
            text-align: center;
        }

        .text {
            margin-bottom: 1rem;
            text-align: left;
        }

        p {
            margin-bottom: 3rem;
            text-align: center;

            a {
                border-bottom: 1px solid white;
                padding-bottom: .3rem;
            }

            a:hover {
                border-bottom: none;
                opacity: .8;
            }
        }

        .btn {
            display: block;
            text-align: center;
            width: 45%;
            border: 1px solid white;
            padding: .8rem 2rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2.5rem;
            margin: 0 auto;

            &:hover {
                background-color: white;
                color: #b09673;
            }
        }
    }
}

// FOOTER

footer {
    margin-top: 5rem;
    width: 100%;
    background-color: $clr-dark-grey;
    color: $clr-text;

    .container {
        padding: 4.5rem 0 2rem 0;

        .text {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}